@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #ccc;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

input {
  width: 100%;
}

.nav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.2);
}

.clickable {
  cursor: pointer;
}

.menu-container {
  background-color: white;
  width: 1024px;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
  margin: 1em 0;
}

.container {
  background-color: white;
  box-shadow: 0 0 2em #aaa;
}

h1 {
  display: block;
  background-color: black;
  padding: 0.5em 0;
  color: white;
  margin: 0 0 1em 0;
  position: relative;
  left: -15px;
  margin-right: -30px;
}

.group-header {
  display: block;
  background-color: darkred;
  padding: 0.3em 0;
  margin: 1rem 0;
  margin-right: -30px;
  color: white;
  position: relative;
  left: -15px;
}

.group-header p {
  text-align: center;
  padding-bottom: 0.33rem;
}

.group-header h2 {
  margin: 0.5rem 0;
}

p {
  margin: 0;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .container {
    box-shadow: 0 0 0;
  }
}
